#nameHeader {
    font-size: 7rem;
    margin-top: 40px;
}

#titleHeader {
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 100px;
}

@media only screen and (max-width: 450px) {
    #nameHeader {
        font-size: 5rem;
    }

    #titleHeader {
        font-size: 2rem;
    }
}